/node_modules
.DS_Store
/src/images
/REEFECT.code-workspace
./react-useeffect-understanding/node_modules
/react-app/node_modules
/react-app/public
/react-app/src/setupTests.js
# dependencies
/redux-learn/node_modules
/redux-learn/public
/redux-learn/.pnp
/redux-learn/.pnp.js
# testing
/redux-learn/coverage
# production
/redux-learn/build
# misc
/redux-learn/.DS_Store
/redux-learn/.env.local
/redux-learn/.env.development.local
/redux-learn/.env.test.local
/redux-learn/.env.production.local

/redux-learn/npm-debug.log*
/redux-learn/yarn-debug.log*
/redux-learn/yarn-error.log*

# dependencies
/react-todo-list/node_modules
/react-todo-list/public
/react-todo-list/.pnp
/react-todo-list/.pnp.js
# testing
/react-todo-list/coverage
# production
/react-todo-list/build
# misc
/react-todo-list/.DS_Store
/react-todo-list/.env.local
/react-todo-list/.env.development.local
/react-todo-list/.env.test.local
/react-todo-list/.env.production.local

/react-todo-list/npm-debug.log*
/react-todo-list/yarn-debug.log*
/react-todo-list/yarn-error.log*

